<?xml version="1.0"?>
<!--
  Offline / fake-hardware robot description:
  - Same kinematics and visuals as gp7_yaskawa.urdf.xacro
  - ros2_control uses mock_components/GenericSystem (no Gazebo plugin, no real drivers)
-->
<robot name="gp7_yaskawa" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find gp7_description)/urdf/common_properties.urdf.xacro"/>
  <xacro:include filename="$(find gp7_description)/urdf/arm.xacro"/>
  <xacro:include filename="$(find gp7_description)/urdf/gazebo.xacro"/>
  <xacro:include filename="$(find gp7_description)/urdf/gp7_yaskawa.ros2_control_fake.xacro"/>
  <xacro:include filename="$(find gp7_description)/urdf/gp7_yaskawa.real.xacro"/>

  <xacro:gp7_yaskawa_arm/>
  <xacro:gp7_yaskawa_gazebo/>
  <xacro:gp7_yaskawa_ros2_control_fake name="FakeSystem"/>
</robot>
